/***** Universal *****/
.custom-navbar{
    
}

#brand-img{
    width: 1.3em;
    height: 1.3em;
}

.page-title{
    
}

.normalText{
    font-family: 'Times New Roman', serif;
}

.background{
    background-color: #f9fe9f;
}


/***** Universal *****/

/***** intro section *****/
.intro-row{

}

.intro-text-col{
    text-align: center;
    padding: 2em;
}

.intro-img-col{
    text-align: center;
    padding: 2em;
}

.profile-img{
    height: 25% !important;
    border-radius: 50%;
}

/***** intro section *****/

