/***** Universal *****/
.custom-navbar{
    background-color: #1f1f1f !important;
}

#brand-img{
    width: 2em;
    height: 2em;
}

.page-title{
    
}

.normalText{
    font-family: 'Times New Roman', serif;
}

.background{
    background-color: #f9fe9f;
}

.content-body{
    background: rgba(0,0,0, 0.3);
    margin-top: 4em;
}


/***** Universal *****/

/***** intro section *****/
.intro-row{

}

.intro-text-col{
    text-align: center;
    padding: 3em 1em 1em 1em;
}

.intro-img-col{
    text-align: center;
    padding: 1em;
}

.profile-img{
    width: 100%;
    border-radius: 50%;
}

/***** intro section *****/

/***** about section *****/
.school{
    font-weight: bold;
}
/***** about section *****/

/***** footer section *****/
.footer-body{
    background-color: #1f1f1f;
}
/***** footer section *****/
